%div#body-container
  %h2.center Other Links
  %div.center.clickable
    %figure
      = image_tag('Bgco_Logo.png', height:'100', width:'200')
      = link_to '', 'http://www.bgco.org', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Skopos_Logo.png', size:'200')
      = link_to '', 'http://skopos.org', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Focus_On_The_Family_Logo.png', height:'100', width:'200')
      = link_to '', 'http://www.focusonthefamily.com', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Bible_Logo.png', size:'200')
      = link_to '', 'https://www.bible.com', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Imb_Logo.png', height:'100', width:'250', class:'center')
      = link_to '', 'http://www.imb.org', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Namb_Logo.png', height:'130', width:'250')
      = link_to '', 'https://www.namb.net', target:'_blank', class:'div-clickable'
      %figcaption 

  %div.center.clickable
    %figure
      = image_tag('Christianity_Logo.png', height:'80', width:'250')
      = link_to '', 'http://www.christianity.com', target:'_blank', class:'div-clickable'
      %figcaption 
