%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      .button.navbar-toggle.collapsed{'type'=>'button', 'data-toggle'=>'collapse', 'data-target'=>'#bs-example-navbar-collapse-1', 'aria-expanded'=>'false'}
        %span.sr-only="Toggle navigation"
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand="SBC Logo Here"
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      .nav.navbar-nav
        %li
          =link_to 'Worship Schedule', "#"
        %li
          =link_to 'Events Calendar', "https://google.com"
        %li
          = link_to "#", {'class'=>"dropdown-toggle", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"} do
            Outreach Programs
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Youth Ministry', "#"
            %li= link_to 'Ladies Ministry', "#"
            %li= link_to 'Basketball Sunday', "#"
            %li.divider {style="role:separator"}
            %li= link_to 'Separated link', "#"
            %li.divider {style="role:separator"}
            %li= link_to 'One more separated link', "#"
        %li= link_to 'Contact Us', "#"

  -#     %ul.nav.navbar-nav.navbar-right
  -#       %li
  -#         = link_to 'Link', "#"
  -#       %li.dropdown
  -#         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  -#         %ul.dropdown-menu
  -#           %li= link_to 'Action', "#"
  -#           %li= link_to 'Another action', "#"
  -#           %li= link_to 'Something else here', "#"
  -#           %li.divider {style="role:separator"}
  -#           %li= link_to 'Separated link', "#"
  -# .collapse.navbar-collapse#bs-example-navbar-collapse-1.col-sm-2
  -#   %ul.nav.nav-pills.nav-stacked
  -#     %li= link_to 'Link', "#"
  -#     %li.dropdown
  -#       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
  -#       %ul.dropdown-menu
  -#         %li= link_to 'Action', "#"
  -#         %li= link_to 'Another action', "#"
  -#         %li= link_to 'Something else here', "#"
  -#         %li.divider {style="role:separator"}
  -#         %li= link_to 'Separated link', "#"
  -#     %li= link_to "Another link", "#"
  -# .container.col-sm-10

